<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
<div><h2>Logo</h2> <div>Links</div></div>


    <div>Section title</div>
    <div>(Card)
        <div>Picture</div>
        <div>Story Title</div>
        <div >Description</div>
    </div>

    <div>Sidebar title</div>
    <div>(Card)
        <div>Picture</div>
        <div>Story Title</div>
        <div >Description</div>
    </div>


</body>
</html>